
<h1 style="font-family:'Sans-Serif';font-weight:bold; text-align:center; font-size:70px">Pet Notes</h2>
<div class="button-container mb-4">
    <img src="https://i.ibb.co/k0Hb8Fr/63798591-1.jpg"  width=450px height=100px class="mr-2">
</div>
<h3 style="font-family:'Sans-Serif';font-weight:normal;text-align:center; font-size:30px">Track your pet's nutrition, keep track of feedings, create a pet profile, add notes, and more!</h3>
<div class="button-container">
    <a href="/signup" class="button btn-lg btn-primary mt-2 mr-1">Sign Up</a>
    <a href="/login" class="button btn-lg btn-primary mt-2 ml-1">Log In</a>
</div>