
<h1 style="text-align:center">Create a Pet Notes account</h1>
<form action="/signup" method="POST">
<div class="mb-3">
    <label for="name" class="form-label"><strong>Name</strong></label>
    <input type="name" name="name" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"><strong>Email address</strong></label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"><strong>Password</strong></label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <div class="button-container">
    <button type="submit" class="button btn-lg btn-primary">Create Account</button>
  </div>
</form>